@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f0f0f0;
}

body, html {
  height: 100%;
}

.ness-main {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  flex: 1 0 100%;
  height: 100%;
}
.ness-main .ness-header {
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 100%;
  height: 100%;
  background: #232323;
}
.ness-main .ness-header .ness-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1 0;
  position: relative;
}
.ness-main .ness-header .ness-wrapper .ness-container {
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 100%;
  text-align: center;
  z-index: 10;
}
.ness-main .ness-header .ness-wrapper .ness-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  z-index: -1;
}
.ness-main .ness-header .ness-wrapper .ness-container div {
  margin: 3.5rem 0;
}
.ness-main .ness-header .ness-wrapper .ness-container div.ness-text-container {
  flex: 1 0 100%;
}
.ness-main .ness-header .ness-wrapper .ness-container div.ness-text-container .ness-text {
  width: 540px;
  margin: 0 auto;
  transform: rotate(180deg);
  border: solid white 5px;
  padding: 1rem 0;
}
@media (max-width: 640px) {
  .ness-main .ness-header .ness-wrapper .ness-container div.ness-text-container .ness-text {
    border: none;
  }
}
.ness-main .ness-header .ness-wrapper .ness-container div.ness-text-container .ness-text .ness-title {
  color: white;
  transform: rotate(180deg);
  font-size: 5rem;
  z-index: 3;
  position: relative;
  bottom: 0.5rem;
}
.ness-main .ness-header .ness-wrapper .ness-container div.ness-text-container .ness-text .ness-paragraph {
  position: relative;
  z-index: 5;
  font-size: 2rem;
  font-family: monospace;
  color: white;
  transform: rotate(180deg);
  width: fit-content;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}
.ness-main .ness-header .ness-wrapper .ness-container div.ness-buttons {
  flex: 1 0 calc(100% / 3);
}
@media (max-width: 768px) {
  .ness-main .ness-header .ness-wrapper .ness-container div.ness-buttons {
    display: flex;
    flex-flow: row wrap;
    padding: 0 1rem;
  }
}
.ness-main .ness-header .ness-wrapper .ness-container div.ness-buttons .ness-button {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
  background-color: #414141;
  padding: 1rem 2rem;
}
@media (max-width: 768px) {
  .ness-main .ness-header .ness-wrapper .ness-container div.ness-buttons .ness-button {
    flex: 1 0 100%;
    display: flex;
    margin: 0.5rem 0;
    align-items: center;
    justify-content: center;
  }
}
.ness-main .ness-header .ness-wrapper .ness-container div.ness-buttons .ness-button svg {
  vertical-align: middle;
  font-size: 1.75rem;
  margin: 0 0.5rem 0 0;
}
.ness-main .ness-header .ness-wrapper .ness-container div.ness-buttons .ness-button .ness-button-name {
  margin-top: 1px;
  vertical-align: middle;
}
.ness-main .ness-header .ness-wrapper .ness-container div.ness-buttons .ness-button:hover.ness-discord {
  background-color: #7289da;
}
.ness-main .ness-header .ness-wrapper .ness-container div.ness-buttons .ness-button:hover.ness-twitter {
  background-color: #1da1f2;
}
.ness-main .ness-header .ness-wrapper .ness-container div.ness-buttons .ness-button:hover.ness-github {
  background-color: #2b3137;
}
.ness-main .ness-header .ness-wrapper .ness-container div.ness-buttons .ness-button:focus.ness-discord {
  background-color: #687cc5;
}
.ness-main .ness-header .ness-wrapper .ness-container div.ness-buttons .ness-button:focus.ness-twitter {
  background-color: #0084b4;
}
.ness-main .ness-header .ness-wrapper .ness-container div.ness-buttons .ness-button:focus.ness-github {
  background-color: #24292e;
}
.ness-main .ness-section {
  min-height: 100%;
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 100%;
  background: #232323;
}
.ness-main .ness-section.ness-introduction .ness-container {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .ness-main .ness-section.ness-introduction .ness-container {
    width: 95%;
  }
}
.ness-main .ness-section.ness-introduction .ness-container .ness-item {
  display: flex;
  flex: 1 0 calc(100% / 2);
  align-items: center;
  justify-content: center;
}
.ness-main .ness-section.ness-introduction .ness-container .ness-item .ness-text {
  padding: 1rem 3rem;
  text-align: center;
}
.ness-main .ness-section.ness-introduction .ness-container .ness-item .ness-text .ness-title {
  font-size: 4rem;
  color: white;
  margin: 0 0 2rem 0;
}
.ness-main .ness-section.ness-introduction .ness-container .ness-item .ness-text .ness-paragraph {
  width: 450px;
  color: white;
  font-weight: 300;
  padding-bottom: 1.5rem;
  font-size: 1.25rem;
}
.ness-main .ness-section.ness-introduction .ness-container .ness-item .ness-image {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 0;
  transition: top 0.3s ease;
}
.ness-main .ness-section.ness-introduction .ness-container .ness-item .ness-image:hover {
  top: -1rem;
}
.ness-main .ness-section.ness-gallery {
  align-items: unset;
}
.ness-main .ness-section.ness-gallery .ness-wrapper {
  width: 100%;
  height: 100%;
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item {
  display: flex;
  flex: 1 0 calc(100% / 2);
  position: relative;
  height: 100%;
}
@media (max-width: 980px) {
  .ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item {
    flex: 1 0 100%;
  }
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item .ness-buttons {
  margin: 3rem 3rem;
  position: absolute;
  bottom: 0;
}
@media (max-width: 980px) {
  .ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item .ness-buttons {
    width: 100%;
    margin: 3rem auto;
    justify-content: center;
    display: flex;
  }
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item .ness-buttons .ness-button {
  position: relative;
  border: solid #329632;
  padding: 0.5rem 3rem;
  margin: 0 1rem;
  color: white;
  background-color: #329632;
  text-decoration: none;
  z-index: 10;
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item .ness-buttons .ness-button:hover {
  background-color: #326e32;
  border: solid #326e32;
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-text {
  z-index: 10;
  background-color: #232323;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.22'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
@media (max-width: 980px) {
  .ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-text {
    height: 750px;
  }
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-text .ness-text-container {
  display: flex;
  flex: 1 0;
  align-items: center;
  justify-content: center;
}
@media (max-width: 980px) {
  .ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-text .ness-text-container {
    text-align: center;
  }
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-text .ness-text-container .ness-display {
  width: 50%;
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-text .ness-text-container .ness-display .ness-title {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  position: relative;
}
@media (max-width: 980px) {
  .ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-text .ness-text-container .ness-display .ness-title {
    margin-bottom: 3rem;
  }
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-text .ness-text-container .ness-display .ness-title::after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 50px;
  height: 5px;
  background-color: white;
}
@media (max-width: 980px) {
  .ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-text .ness-text-container .ness-display .ness-title::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-text .ness-text-container .ness-display .ness-paragraph {
  color: #e6e6e6;
  font-weight: 300;
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-background {
  background-position: center center;
  background-size: cover;
  position: relative;
  background-image: url("../img/palamazon.webp");
}
@media (max-width: 980px) {
  .ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-background {
    height: 750px;
  }
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-background .ness-box {
  position: absolute;
  bottom: -25%;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: #252525;
  transition: bottom 0.5s ease;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-background .ness-box .ness-paragraph {
  width: 50%;
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease;
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-background:hover .ness-box {
  bottom: 0;
}
.ness-main .ness-section.ness-gallery .ness-wrapper .ness-container .ness-item.ness-background:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}
.ness-main .ness-section.ness-palamazon .ness-text {
  -webkit-animation: palamazon 7s linear infinite;
  animation: palamazon 7s linear infinite;
}
.ness-main .ness-section.ness-entasia {
  z-index: 10;
}
.ness-main .ness-section.ness-entasia .ness-background {
  background-image: url("../img/entasia.webp") !important;
}
@media (max-width: 980px) {
  .ness-main .ness-section.ness-entasia .ness-background {
    order: 2 !important;
  }
}
.ness-main .ness-section.ness-entasia .ness-text {
  order: 2;
  background-color: #232323;
  -webkit-animation: entasia 14s linear infinite;
  animation: entasia 14s linear infinite;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.29' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E") !important;
}
@media (max-width: 980px) {
  .ness-main .ness-section.ness-entasia .ness-text {
    order: 1 !important;
  }
}
.ness-main .ness-section.ness-other {
  z-index: 15;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #232323;
}

::-webkit-scrollbar-thumb {
  background: #414141;
}

@keyframes palamazon {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -180px -180px;
  }
}
@keyframes entasia {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 180px 180px;
  }
}

/*# sourceMappingURL=ness.css.map */
