@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
.ness-section {
  overflow-y: scroll;
}

.ness-section .ness-slide {
  height: 100vh;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.ness-disabled {
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.ness-navbar {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
  background-color: #232323;
  -webkit-transition: width 0.5s ease, -webkit-clip-path;
  transition: width 0.5s ease, -webkit-clip-path;
  transition: clip-path, width 0.5s ease;
  transition: clip-path, width 0.5s ease, -webkit-clip-path;
  width: 50%;
  height: 50%;
}

.ness-navbar .ness-navbar-container .ness-navbar-logo {
  width: 50%;
  position: relative;
  left: 4.5rem;
  top: -1rem;
}

.ness-navbar .ness-navbar-container .ness-navbar-menu {
  opacity: 0;
  pointer-events: none;
}
