@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
.ness-section {
  overflow-y: scroll;
}

.ness-section .ness-slide {
  height: 100vh;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.ness-disabled {
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
